.title{
    width: 100%;
    text-align: center;
    top:0;
    left:0;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to right,#2a5890, #479264);
}
.title h1{
    color: white;
    font-size: 3.5em;
    font-weight: bold;
}

/* MEDIA QUERIES */

@media screen and (max-width: 693px){
    .title h1{
        font-size: 3em;
    }
}

@media screen and (max-width: 510px){
    .title h1{
        font-size: 2.5em;
    }
}

@media screen and (max-width: 370px){
    .title h1{
        font-size: 2.2em;
    }
}

@media screen and (max-width: 310px){
    .title h1{
        font-size: 2em;
    }
}